{% extends 'base.html.twig' %}

{% block title %}Stéphanie de Vregille | Categorie
{% endblock %}

{% block body %}
	<div class="container mentions">
    <h1>Mentions Légales</h1>
        <div>
            <p>
            Ce site appartient à Stéphanie de Vregille domiciliée au<br>
            <i class="fas fa-home me-3"></i>44 D306<br>
            69380 Les Chères
            </p>
        </div>
        <p>
        SIRET : 879698082 00010
        </p>
        <div>
            <p>
                <i class="fas fa-envelope me-3"></i>
                stephanie.hypnosophro@gmail.com
            </p>
            <p>
                <i class="fas fa-phone me-3"></i>
                06 14 39 14 69
            </p>
        </div>


    
    </div>
{% endblock %}