{% extends 'base.html.twig' %}

{% block title %}Stéphanie de Vregille | Categorie
{% endblock %}

{% block body %}
	<div class="container mentions">
    <h1>Politique de Confidentialité</h1>
    <h4>Avis important sur le traitement des données en relation avec Google Analytics</h4>
    
    </div>
{% endblock %}