{% extends 'base.html.twig' %}

{% block title %}Stéphanie de Vregille | Categorie
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h1>Qui je suis</h1>
		<p>
			J'ai commencé ma carrière professionnelle dans la petite enfance en tant qu'éducatrice de jeunes enfants, puis directrice de crèche, puis responsable de relais assistantes maternelles. Dans ces postes, j'ai pu accompagner des enfants au quotidien, soutenir les parents et former les équipes de professionnels. Je me suis d'abord  formée à des outils de coaching et de management, puis à la communication non-violente, le yoga pour enfants, et le soutien à la parentalité.
		</p>
        <p>
        Lorsque j'ai découvert l'hypnose éricksonienne, c'est un nouveau sens qu'a pris ma carrière : <strong>cet outil puissant permet en effet de débloquer des situations et d'obtenir en peu de temps des résultats très marquants</strong>.
        </p>

        <p>
        En parallèle, j'ai suivi une formation de <strong>sophrologue</strong> longue, sérieuse et complète, avec des spécialisations pour l'<strong>accompagnement des enfants</strong> et sur la <strong>gestion du stress (tous âges)</strong>. Cette méthode tournée vers la conscience de soi apporte encore d'autres réponses en passant par <strong>la respiration et le corps</strong>.
        </p>
        <p>
        Je vous accompagne aujourd'hui à tout âge selon vos besoins et votre sensibilité
        <br>
        La sophrologie et l'hypnose sont deux outils très complémentaires, et donnent une <strong>approche globale encore plus efficace</strong>.
        </p>
        <p>
        J'interviens aussi en entreprise et associations pour des ateliers à thèmes ainsi qu'en MJC pour des cours collectifs hebdomadaires. J'adhère au code de déontologie de la SSI, je continue à me former chaque année et je fais partie d'un groupe de supervision, une démarche supplémentaire pour des accompagnements de qualité. 
        </p>
        <br>
        <br>
        <p>
        <strong>Mon petit plus</strong> : mon travail sur le stress et ses effets ainsi que sur les émotions.
        </p>
        <br>
        <p>
        Mon message : <strong>faites-vous confiance, vous avez en vous toutes les ressources dont vous avez besoin!</strong>
        </p>
	</div>
{% endblock %}
