main{
  margin: 0px;
  padding: 0px;
}

footer{
  margin: 0px;
  padding: 0px;
}

.bg-custom {
  background-color: rgb(170, 63, 53);
  /* background-color: rgb(158, 110, 73); */
  min-height: 75px;
  /* margin: 0; */
}
.btn-custom {
  background-color: rgb(170, 63, 53);
  /* background-color: rgb(158, 110, 73); */
  border-radius: 5%;
  color: white;
}

.mentions {
  min-height: 75vh;
  margin: 20px auto;
  padding:auto;
  font-size: 20px;
}

.justify{
  text-align: justify;
}